*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(34,193,195);
    background: linear-gradient(177deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}
#main{
    background-image: url(./assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 150px;


}
nav{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a{
    background-color: #264653;
    height: 1.5rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 100;
    border-radius: 10px;
    color: #e9c46a;
}
#logo{
    display: inline;
    justify-content: right;
    float: right;
    margin-top: 70px;
    margin-right: 45px;
    width: 150;
}
h2{
    background-color: black;
    color: white; 
    text-align: center;
}

.article1{
    display: inline;
    float: right;
    margin-top: 15px;
    width: 900px;
}

nav a{
    display: block;
    margin: 30px;
}
.hockey1{
    float: right;
    width: 200;
}
.article2{
    display: inline;
    float: right;
    box-sizing: border-box;
    width: 1000px;
    margin-top: 20px;
}

#hockey2{
    float: right;
    width: 200;
    
}

.texto{
    text-indent: 5%;
}

