*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Playfair Display', serif;
    font-family: 'Quicksand', sans-serif;
}
#main{
    background-image: url(./assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 150px;
    

}
#logo{
    display: inline;
    justify-content: right;
    float: right;
    margin-top: 70px;
    margin-right: 45px;
    width: 150;
}
h2{
    
    background-color: black;
    color: white; 
    text-align: center;
}

.article1{
    display: inline;
    float: right;
    margin-top: 15px;
    width: 900px;
}
nav{
    display: inline-block;
    float: left;
    
}
nav a{
    display: block;
    margin: 30px;
}
.hockey1{
    float: right;
    width: 200;
}
.article2{
    display: inline;
    float: right;
    box-sizing: border-box;
    width: 1000px;
    margin-top: 20px;
}

#hockey2{
    float: right;
    width: 200;
    
}

.texto{
    text-indent: 5%;
}